.circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EBEDF0;
    margin : 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText{
    visibility: hidden;
    background-color: rgb(50,50,50,0.8);
    padding: 10px 0px 5px 0px;
    border-radius: 2px;
    width: 250px;
    height: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;  
    margin-left: -125px;

    /* text */
    font-family: 'Roboto', sans-serif;
    color: rgb(223,223,223);
    text-align: center;
    font-size: 12px;
}


.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(50,50,50,0.8) transparent transparent transparent;
}

.blue {
    background-color: 'blue';
}

button {
    margin: 50px;
    width: 94px;
    height: 40px;
    border-radius: 2px;
    background-color: #039BE5;
    color: white;
    border: none;
}

.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 814px;
    height: 187px;
    border: solid 1px #F0F0F0;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

.month-row {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color : #414660; 
    margin-left: 20px;  
    margin-bottom: 10px;

}

.canvas-container {
    display: flex;
    flex-direction: row;
    align-self: center;

}

#canvas {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.day-column{
    width: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 11px;
    color: #414660;
    margin-right: 10px;
}

