.circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EBEDF0;
    margin: 1px;

}

.blue {
    background-color: 'blue';
}

button {
    margin : 50px;
    width: 94px;
    height: 40px ;
    border-radius: 2px;
    background-color: #039BE5;
    color: white;
    border: none;
}

.graph_container {
    display : flex;
    flex-direction:column;
    justify-content:space-between;
    width : 814px;
    height: 187px;
    border: solid 1px #F0F0F0;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

.month_row {
    width:620px ;
    display: flex;
    flex-direction:row ;
    justify-content:space-evenly;
    font-size: 11px;
    color : #414660; 
    margin-left: 20px;  
    margin-bottom: 10px;

}

.canvas_container {
    display: flex;
    flex-direction: row;
    align-self:center;

}
.row {
    display: flex;
}
#canvas {
    display: flex;
    flex-direction: column;
}

.day_column{
    width: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    font-size: 11px;
    color: #414660;
    margin-right: 10px;
}

